* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

body {
  font-family: "Roboto", sans-serif;
  color: white;
}

/* header {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

form {
  max-width: 450px;
  margin: 30px auto;
  /* box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4); */
  border-radius: 8px;
  padding: 20px;
}

input {
  display: block;
  width: 100%;
  border-radius: 8px;
  border: 2px solid transparent;
  height: 34px;
  padding: 5px;
  background: #1e1f22;
  color: inherit;
  font-family: inherit;
}

/* input::placeholder {
  color: #aaa;
} */

.input-container {
  margin-bottom: 20px;
  display: flex;
  align-items: baseline;
  gap: 5px;
}

.btn-primary {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 14px;
  background-color: #1565c0;
  color: white;
  font-family: inherit;
  font-size: 14px;
  cursor: pointer;
}

form h2,
.conference-section h2 {
  margin-bottom: 20px;
}

.btn-danger {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 14px;
  background-color: #f44336;
  color: white;
  font-family: inherit;
  font-size: 14px;
  cursor: pointer;
}

.conference-section {
  padding: 20px 30px;
  padding-bottom: 90px;
  /* max-width: 960px; */
  margin: 0 auto;
}

.conference-section h2 {
  text-align: start;
  font-size: 32px;
  padding-bottom: 10px;
  /* border-bottom: 1px solid #546e7a; */
}

.peers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.peer-video {
  object-fit: cover;
}
/* @media only screen and (max-width: 600px) {
  .peer-video {
    width: 50%;

  }
} */
/* .local.peer-video {
  transform: scaleX(-1);
} */

.peer-name {
  font-size: 14px;
  text-align: center;
}

.peer-container {
  padding: 10px;
}

.control-bar {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;
  justify-content: center;
  z-index: 10;
}

.control-bar > *:not(:first-child) {
  margin-left: 8px;
}

.btn-control {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid #37474f;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  text-align: center;
  background-color: #777777;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  color: white;
  cursor: pointer;
}

.hide {
  display: none;
}

.separator {
  font-size: 12px;
}
#child {
  opacity: 0;
}
#parent:hover #child {
  opacity: 1;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.MuiBackdrop-root {
  filter: blur(2rem) !important;
  background: red;
}
.MuiDrawer-paper {
  background-color: rgb(49 51 56) !important;
  color: white !important;
}
.penchild{
  opacity: 0;
  transition: all .2s ease-in-out;
}
.penparent:hover > .penchild {
  opacity: 1;
}

img{
  object-fit: cover;
}

html {
  scroll-behavior: smooth;
}
